<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>

<meta name="google-adsense-account" content="ca-pub-9907259250437945">

<!-- Clarity tracking code for https://mqsi.xyz/ -->
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
    t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "lrsvok50ur");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FEX5HD8QZ2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-FEX5HD8QZ2');
</script>

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9907259250437945"
  crossorigin="anonymous"></script>

<!-- Random Music -->
<div id="musicContainer">
  <audio id="musicPlayer" autoplay>
    <source src="" type="audio/mp3" id="musicSource">
    Your browser does not support the audio element.
  </audio>
</div>
<a id="toggleButton" onclick="toggleMusic()" style="position:fixed;top:50px;right:15%;"><img
    src="/img/mute.svg"></a>

<script>
  function getRandomMusic() {
    console.log('开始加载音乐');
    const musicList = [
      '/music/青空のテーマ （青空的主题）.mp3',
      '/music/-歳月-雲流れ-.mp3',
      '/music/-遠い空へ- (飞向遥远的天空) (ヨスガノソラ メインテーマ).mp3',
      '/music/１月「ふるさと空」.mp3',
      '/music/4月 星桜-はな-.mp3',
      '/music/７月「笹夢」.mp3',
      '/music/蒼穹のはて（苍穹的尽头）.mp3',
      '/music/春眠猫の夢 (春眠猫的梦).mp3',
      '/music/春色のワルツ (春色华尔兹).mp3',
      '/music/春のひだまり.mp3',
      '/music/当微风拂过.mp3',
      '/music/粉雪.mp3',
      '/music/风的诗.mp3',
      '/music/風に舞う木の葉と神の社.mp3',
      '/music/格桑花.mp3',
      '/music/君想う、星屑の空。 (想念你，夜空群星).mp3',
      '/music/七彩.mp3',
      '/music/七色の川.mp3',
      '/music/七色の川.mp3',
      '/music/俟.mp3',
      '/music/青空 ~.mp3',
      '/music/青空のテーマ （青空的主题）.mp3',
      '/music/三葉のテーマ.mp3',
      '/music/山河已无恙.mp3',
      '/music/盛开的紫罗兰.mp3',
      '/music/送别.mp3',
      '/music/天照ラセ (照耀天空).mp3',
      '/music/萱草花.mp3',
      '/music/雪落下的声音.mp3',
      '/music/桜雪 （樱雪）.mp3',
      '/music/桜の廊下のあなた.mp3',
      '/music/永遠の一瞬 (永恒的一瞬).mp3',
      '/music/月光和你.mp3',
      '/music/月がきれい.mp3',
      '/music/雲流れ (云流).mp3',
      '/music/奏 (かなで).mp3',
      '/music/Pure heart.mp3',
      '/music/おてんば恋娘（東方紅魔郷）.mp3',
      '/music/はじまりの唄 (初始之歌).mp3',
      '/music/よかったね (太好了).mp3',
    ];

    const randomIndex = Math.floor(Math.random() * musicList.length);
    return musicList[randomIndex];
  }

  function toggleMusic() {
    console.log('播放状态切换');
    const musicPlayer = document.getElementById('musicPlayer');
    const toggleButton = document.getElementById('toggleButton');

    if (musicPlayer.paused) {
      musicPlayer.play();
      toggleButton.innerHTML = '<img src="/img/music.svg" alt="播放">';
    } else {
      musicPlayer.pause();
      toggleButton.innerHTML = '<img src="/img/mute.svg" alt="暂停">';
    }
  }


  document.addEventListener('DOMContentLoaded', function () {
    const musicSource = document.getElementById('musicSource');
    musicSource.src = getRandomMusic();
    const musicPlayer = document.getElementById('musicPlayer');
    musicPlayer.load();
  });
</script>